---
import ChatApp from "./ChatApp";
---

<div id="container">
	<ChatApp client:only="react" />
</div>

<style>
	#container {
		font-family:
			Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
			sans-serif;
		padding: 2rem;
	}
</style>
